/* styles.css - estilos do site cris&noa */

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 0.5px;
}

/* TOP BAR */
.top-bar {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
}

.logo {
    font-size: 26px;
    font-weight: 500;
    text-transform: lowercase;
}

.logo a {
    color: #000;             /* cor preta */
    text-decoration: none;    /* remove sublinhado */
    font-size: 26px;          /* mantém tamanho da logo */
    font-weight: 500;         /* mantém o peso da fonte */
}


/* SEARCH MODAL */
.search-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.search-modal.active {
    display: flex;
}

.close-search {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 28px;
    cursor: pointer;
}

/* FOOTER */
footer {
    border-top: 1px solid #f0f0f0;
}

.card-img-top {
    width: 100%;          /* ocupa toda a largura do card */
    height: 300px;        /* altura fixa */
    object-fit: cover;    /* mantém proporção, corta excesso se necessário */
    cursor: pointer; /* mostra a mãozinha ao passar por cima */
}
