body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #3498db;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 1.5em;

}
header h1 {
    font-size: 1.5em;
    margin: 0;
}

.detalhes-alunos {
    max-width: 600px;
    margin: 10px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.detalhes-alunos img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.detalhes-alunos h2 {
    font-size: 1.8em;
    color: #3498db;
    margin-bottom: 10px;
}

.detalhes-alunos p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    position: relative;
    background-color: white;
}

footer a {
    color: #3498db;
    text-decoration: none;
    font-size: 1.1em;

}

footer a:hover {
    text-decoration: underline;
}
