
footer {

    position: relative;
}

.lista-alunos {
    display: flex;
    flex-wrap: wrap; /* Itens quebram linha se necessário */
    justify-content: space-around; /* Espaço uniforme entre itens */
    gap: 10px; /* Espaço entre elementos */
    margin: 20px;
}

.container {
    padding: 20px;
}

.aluno {
    background-color: rgb(211, 211, 211);
    padding: 10px;
    border-radius: 8px;
    width: calc(17.5% - 20px); /* Alinha 5 alunos por linha */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 10px 0;
}

.aluno:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.aluno img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Torna a imagem circular */
    object-fit: cover; /* Ajusta a imagem sem distorcer */
    margin-bottom: 10px;
}

.aluno h3 {
    margin-top: 10px;
    font-size: 1em;
    font-weight: normal;
    color: black;
}



/* Responsividade */
@media (max-width: 1024px) {
    .aluno {
        width: calc(25% - 20px); /* 4 alunos por linha */
    }
}

@media (max-width: 768px) {
    .aluno {
        width: calc(33.33% - 20px); /* 3 alunos por linha */
    }
}

@media (max-width: 600px) {
    .aluno {
        width: calc(45% - 20px); /* 2 alunos por linha */
    }
}

@media (max-width: 500px) {
    .aluno {
        width: 100%; /* 1 aluno por linha */
    }
}
